@font-face {
    font-family: metroblack;
    src: url(/fonts/metropolis-black.otf);
}


@font-face {
    font-family: metroblackitalic;
    src: url(/fonts/metropolis-blackitalic.otf);
}


@font-face {
    font-family: metrobold ;
    src: url(/fonts/metropolis-bold.otf);
}


@font-face {
    font-family: metromedium;
    src: url(/fonts/metropolis-medium.otf);
}


@font-face {
    font-family: metroregular;
    src: url(/fonts/metropolis-regular.otf);
}

@font-face {
    font-family: metrosemibold;
    src: url(/fonts/metropolis-semibold.otf);
}

