@use 'reset';
@use 'components';
@use 'variables' as *;
@use 'layout';
@use 'mediaqueries';

body {
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    font-family: $font-regular;
    background-color: black;
}